@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;900&display=swap");

* {
  margin: 0;
  font-family: "Roboto";
}

:root {
  --nav-side-margin: 8rem;
  --nav-side-sm-margin: 2.5rem;
  --nav-items-margin: 1rem;
  --primary-color: #fbbe4e;
  --secondary-color: #222225;
  --error: #ff0033;
  --primary-font: "Roboto";
  --white-font: whitesmoke;
  --section-p-size: 1.4rem;
}